################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShopping/.vs/OnlineShopping
/OnlineShopping/obj/Debug/net9.0
/OnlineShopping/obj
/OnlineShopping/bin/Debug/net9.0
